@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/images/Background_image.svg");
  background-color: #121826;
  font-family: "Outfit";
  font-size: 1rem;
  font-weight: 400;
  color: #9DA3AE;
}

/* HEADER */

h1 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #E5E7EB;
}

header {
  text-align: center;
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
}

/* MAIN */

h2, section p, img, header p {
  margin-top: 1rem;
}

h1, section {
  margin-top: 3rem;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  gap: 3rem;
}

.emoji, h2 {
  font-size: 1.25rem;
}

.emoji {
  display: inline-block;
  border-radius: 100%;
  padding: 0.75rem;
  margin-top: 1.5rem;
}

.first-emoji {
  background-color: #FCEED8;
}

.second-emoji {
  background-color: #DEE9FC;
}

.third-emoji {
  background-color: #FBE5E6;
}

section {
  background-color: #212936;
  border-radius: 1rem;
  padding : 0 1.5rem;
  width: 20rem;
}

section:hover {
  background-color: #424969;
}

h2 {
  color: #E5E7EB;
  font-weight: 600;
}

img {
  width: 100%;
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
}

section p {
  margin-right: 2.5rem;
}