@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/images/Background_image.svg");
  background-color: #121826;
  padding: 0 6rem;
  font-family: "Outfit";
  font-size: 1rem;
  font-weight: 400;
}

/* HEADER */

h1 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #E5E7EB;
  margin-top: 3rem;
}

header {
  text-align: center;
}

header p {
  color: #9DA3AE;
  margin-top: 1rem;
}